@import 'partials/project-list.styl'
@import 'partials/buttons.styl'
@import 'partials/navbar.styl'
@import 'partials/news.styl'
@import 'partials/sidebar.styl'
@import 'partials/card.styl'
@import 'partials/project-information.styl'
@import 'partials/author-card.styl'
@import 'partials/services.styl'
@import 'partials/global.styl'