<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel--interna slide portfolios--marginTop">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('../../images/userSamples/sample6/TheClinic-1-1920x1080.jpg');"></div>
    </div>
  </div>
</header>
<main class="main" style="background-color: #ffffff;">
  <section class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample6/TheClinic-2-960x1340.jpg" class="img-responsive"/>
        </figure>
      </div>
      <div class="col-sm-6">
        <div class="videoYoutube--video portfoliosBorder portfolioBorder--Top">
          <div class="embed-responsive embed-responsive-3by4">
            <iframe
              width="960"
              height="670"
              src="https://www.youtube.com/embed/045OotgDCKE?rel=0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <figure class="portfoliosBorder portfolioBorder--Top">
          <img src="../../images/userSamples/sample6/TheClinic-3-960x670.jpg" class="img-responsive"/>
        </figure>
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample6/TheClinic-5-960x670.jpg" class="img-responsive"/>
        </figure>
      </div>
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top ">
          <img src="../../images/userSamples/sample6/TheClinic-4-960x670.jpg" class="img-responsive"/>
        </figure>
      </div>
    </article>
  </section>
  <section class="container porftoliosInformation">
    <div class="row">
      <div class="col-sm-6">
        <h3><strong>THE CLINIC</strong> / PRENSA, SOCIAL MEDIA</h3>
        <h4>
          Perfiles: <br />
          CM Fresh
        </h4>
        <strong class="porftoliosInformation__description">Trap Haitiano</strong>
        <div class="porftoliosInformation__perfil d-none d-sm-block">
          <figure>
            <img src="../../images/userSamples/icono_chile.png" class="img-responsive img-circle"/>
            <figcaption>
              <h5>Matías Torrealba</h5>
              <!-- <a href="#">Autor / Ver Perfil</a> -->
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 margin-top--small">
        <p>
          Para poder reflejar lo que sucede en la cultura millenial, el
          semanario chileno The Clinic realizó una serie de entrevistas a
          jóvenes que realizan hechos innovadores, que rompen los cánones de lo
          que está bien y está mal y que, utilizando las redes sociales, han
          logrado salir adelante.
        </p>
        <p>
          Este es el perfil de Midelson Ceresier, que a sus 24 años, se ha
          convertido en uno de los más jóvenes exponentes del trap haitiano made
          in Chile. Llegó al país hace dos años, período en el que trabajó en la
          construcción, escribió canciones y perdió a su madre.
        </p>
        <p>Hoy, con dos sencillos publicados bajo el nombre de CM Fresh, Midelson
          es considerado un pequeño trap star en la escena urbana chilena.
        </p>
      </div>
    </div>
    <!-- Only information Author Mobile -->
    <div class="row d-sm-none">
      <div class="col-xs-12">
        <div class="porftoliosInformation__perfil">
          <figure>
            <img src="../../images/userSamples/icono_chile.png" class="img-responsive img-circle"/>
            <figcaption>
              <h5>Matías Torrealba</h5>
              <!-- <a href="#">Autor / Ver Perfil</a> -->
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid portfolio-footer">
    <div class="row">
      <div class="col-sm-12">
        <p class="hide-on-desktop">Proveemos soluciones profesionales<br/> para tu empresa</p>
        <p class="hide-on-mobile">Proveemos soluciones profesionales para tu empresa</p>
        <button ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="start-now-button">Publica tu proyecto</button>
      </div>
    </div>
  </section>
</main>
<footer ng-include="'views/footer.html'"></footer>
