<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel--interna slide portfolios--marginTop">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill fill-centertop " style="background-image:url('../../images/userSamples/sample1/FX_ElExorcista_1_1920x1080.jpg');"></div>
    </div>
  </div>
</header>
<main class="main">
  <section class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample1/FX_ElExorcista_2_960x1340.jpg" class="img-responsive">
        </figure>
      </div>
      <div class="col-sm-6">
        <div class="videoYoutube--video portfoliosBorder portfolioBorder--Top">
          <div class="embed-responsive embed-responsive-3by4">
            <iframe width="960" height="670" src="https://youtube.com/embed/2R_KBWwViw8?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <figure class="portfoliosBorder portfolioBorder--Top">
          <img src="../../images/userSamples/sample1/FX_ElExorcista_4_960x670.jpg" class="img-responsive">
        </figure>
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample1/FX_ElExorcista_5_960x670.jpg" class="img-responsive">
        </figure>
      </div>
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample1/FX_ElExorcista_6_960x670.jpg" class="img-responsive">
        </figure>
      </div>
    </article>
  </section>
  <section class="container porftoliosInformation">
    <div class="row">
      <div class="col-sm-6">
        <h3><strong>CANAL FX LATINOAMÉRICA</strong> / SOCIAL MEDIA MANAGEMENT</h3>
        <h4>El Exorcista Temporada 2</h4>
        <strong class="porftoliosInformation__description">Redes Sociales Poseídas</strong>
        <div class="porftoliosInformation__perfil d-none d-sm-block">
          <figure>
            <img src="../../images/userSamples/icono_argentina.png" class="img-responsive img-circle">
            <figcaption>
              <h5>Florencia Schmidt</h5>
              <!--<a href="#">Autor / Ver Perfil</a>-->
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 margin-top--small">
        <p>Para el lanzamiento de la segunda temporada de El Exorcista en Canal FX teníamos el desafío de mejorar todas las métricas de la primera temporada y por eso decidimos ir más lejos que nunca: invocar al demonio. Desarrollamos un chatbot que tomó el control de las redes y atormentó a millones de latinoamericanos como nunca antes nadie lo había hecho: Canal FX estaba oficialmente poseído.
        </p>
        <p>
          El acoso de Pazuzu continuó durante 6 días en lo que se llamó la “Hora Poseída” y, mientras los fans luchaban contra él, la ansiedad por el show fue creciendo.
        </p>
        <p>¿El resultado de esta demoníaca posesión? 11.705 conversaciones totales, 1.861 usuarios lograron exorcizar a Canal FX y 372 usuarios realizaron más de un exorcismo.
          Pazuzu nos ayudó a lograr más de 25 mil menciones del hashtag #ElExorcistaEnFX, un 66% más que durante la primera temporada apoyada por Paid Campaign.
          El engagement logrado fue casi 300% superior a 2016 y se generó un buzz social de 185 mil menciones, ¡704% más que en la primera temporada!
          </p>
        <p>
          La acción de la hora poseída generó el 87% del social buzz total de la campaña y se convirtió en un caso de éxito para la marca.
        </p>
      </div>
    </div>
    <!-- Only information Author Mobile -->
    <div class="row d-sm-none">
      <div class="col-xs-12">
        <div class="porftoliosInformation__perfil">
          <figure>
            <img src="../../images/userSamples/icono_argentina.png" class="img-responsive img-circle">
            <figcaption>
              <h5>Florencia Schmidt</h5>
              <!--<a href="#">Autor / Ver Perfil</a>-->
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>
<footer ng-include="'views/footer.html'"></footer>
