<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel--interna slide portfolios--marginTop">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('../../images/userSamples/sample5/AFA-1 1920x1080.jpg');"></div>
    </div>
  </div>
</header>
<main class="main" style="background-color: #ffffff;">
  <section class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample5/AFA-2-960x1340.jpg" class="img-responsive">
        </figure>
      </div>
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top">
          <img src="../../images/userSamples/sample5/AFA-3-960x670-7.jpg" class="img-responsive">
        </figure>
        <figure class="portfoliosBorder portfolioBorder--Top">
          <img src="../../images/userSamples/sample5/AFA-4-960x670-1.jpg" class="img-responsive">
        </figure>
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top portfolioBorder--Right">
          <img src="../../images/userSamples/sample5/AFA-5-960x670-6.jpg" class="img-responsive">
        </figure>
      </div>
      <div class="col-sm-6">
        <figure class="portfoliosBorder portfolioBorder--Top ">
          <img src="../../images/userSamples/sample5/AFA-6-960x670-5.jpg" class="img-responsive">
        </figure>
      </div>
    </article>
  </section>
  <section class="container porftoliosInformation">
    <div class="row">
      <div class="col-sm-6">
        <h3><strong>ASOCIACIÓN DEL FÚTBOL ARGENTINO</strong> / EDITORIAL</h3>
        <h4>AFA Revista</h4>
        <strong class="porftoliosInformation__description">Publicación Oficial de la Asociación del Fútbol Argentino</strong>
        <div class="porftoliosInformation__perfil d-none d-sm-block">
          <figure>
            <img src="../../images/userSamples/icono_argentina.png" class="img-responsive img-circle">
            <figcaption>
              <h5>DANIEL MENCHINI</h5>
              <!--<a href="#">Autor / Ver Perfil</a>-->
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 margin-top--small">
        <p>Uno de los desafíos al diseñar una revista como esta es el de conjugar el espíritu deportivo con la solemnidad institucional.<br>
        No se trataba de una publicación destinada únicamente a avivar la pasión del hincha de fútbol, sino también de informar a las organizaciones y medios de todo el mundo acerca del accionar de la institución.</p>
        <p>Un desafío adicional era el hecho de ser bilingüe, separar claramente los dos idiomas sin sacrificar la dinámica visual.<br>
        Afortunadamente, la publicación y sus ediciones especiales cosecharon elogios desde distintas latitudes del planeta.</p>
      </div>
    </div>
    <!-- Only information Author Mobile -->
    <div class="row d-sm-none">
      <div class="col-xs-12">
        <div class="porftoliosInformation__perfil">
          <figure>
            <img src="../../images/userSamples/icono_argentina.png" class="img-responsive img-circle">
            <figcaption>
              <h5>DANIEL MENCHINI</h5>
              <!--<a href="#">Autor / Ver Perfil</a>-->
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid portfolio-footer">
    <div class="row">
      <div class="col-sm-12">
        <p class="hide-on-desktop">Proveemos soluciones profesionales<br/> para tu empresa</p>
        <p class="hide-on-mobile">Proveemos soluciones profesionales para tu empresa</p>
        <button ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="start-now-button">Publica tu proyecto</button>
      </div>
    </div>
  </section>
</main>
<footer ng-include="'views/footer.html'"></footer>
