.author-card-title
    margin-top 2.5rem
    margin-bottom 0.4rem
.author-card
    background-color #123a40
    padding-top 15px
    padding-bottom 10px
    .user-information-container
        padding 0
        padding-left 1rem
    .profile-picture-container
        padding 0
        padding-left 1.7rem
    img
        width 60px
        border-radius 50%
    .name
    .position
    .user-info
    .link
        color #ffffff
        margin 0
        font-weight 300
    .name
        font-size 1.6rem
    .position
        font-size 1.5rem
    .user-info
    .link
        font-size 1.4rem
        font-weight 300
    .user-info+.user-info
        margin-bottom 7px
    .link
        color: #00a2c2
        margin-bottom: 7px