.box
    background-color #ffffff
    padding 20px 15px
    &-list
        li
            &:hover
                background-color rgb(250, 250, 250)
                .button-secondary
                    background-color #00a2c2
                    color #ffffff
.box-header
    display flex
    justify-content space-between
    margin-top 1rem
    i
        font-size 1.6rem
        color rgb(0, 162, 194)