
@media screen and (max-width: 768px)
    .perfil__sidebar
        background-color #e7e7e7
.project-information
    padding-left 0.3rem
    padding-right 0.3rem
    @media screen and (max-width: 768px)
        background-color #e7e7e7
        padding-bottom 1rem
        .comment-box
            margin-bottom 0.5rem
    padding-top 0.5rem
    .section-title
        margin-top 0.8rem
        margin-bottom 0.8rem
    .project-title
        font-size 2.4rem
        color #0a111a
        font-weight bold
    .project-description
        color #1d1d1b
        font-weight 300
        font-size 1.4rem
        line-height 2.2rem
        margin-bottom 0
        letter-spacing 0.4px

    .speciality-box
        color #ffffff
        font-size 1.7rem
        padding 1rem 1.6rem
        font-weight 600
        margin-bottom 0
        box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -webkit-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -moz-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
    .speciality-box+.speciality-box
        margin-top 0.3rem
    .comment-box
        color #1d1d1b
        font-size 1.4rem
        background-color #ffffff
        padding 0.6rem 0.8rem
        min-height 9rem
        font-weight 300
        letter-spacing 0.4px
        box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -webkit-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -moz-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
    .attached-file
        margin-bottom 0.4rem
        color #000000
        font-weight 600
        font-size 1.4rem
        a
            font-weight 300
            color #000000
            &:hover
                color #000000
    .mini-card
        margin-bottom 0.5rem
    .project-condition
        padding 2rem 1rem 2rem 0
        background-color #24a4b4
        box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -webkit-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        -moz-box-shadow 0 0 7px 0 rgba(0, 0, 0, 0.2)
        color #ffffff
        i
            color #ffffff !important
            font-size 2rem
            margin-left 2rem
            margin-right 2rem
            vertical-align middle
        p
            font-size 1.4rem
            display inline-block
            margin 0
            vertical-align middle
    .project-section
        margin-top 2.7rem !important
        magin-bottom 0 !important
        .section-title
        .sub-title
            margin-top 0
            padding-top 0
    


/*Desktop design*/
@media screen and (min-width: 768px)
    .budget-title
    .time-title
        line-height 2rem
        height 2.2rem
        margin-bottom 0.5rem
    .project-information
        padding-left 30px
        padding-right 30px
        padding-top 3rem
    .project-condition
        p
        i
            display block
        .content
            margin 1.5rem 0 1.5rem 0
        p
            font-weight 600
            font-size 1.8rem !important
        i
            margin-bottom 0.5rem
            font-size 2.4rem !important
        span
            font-weight normal
        .col-md-6+.col-md-6
            margin 0
            padding 0