/*
* Sidebar
*/
.flexbox__sidebar
  @media screen and (min-width: 768px)
    max-width 270px
.view-profile
  font-size 1.2rem
  margin-top 0.5rem
  margin-bottom 2rem
  span
    color #ffffff
  a
    color #24a4b4