<!--<div  class="container container-emblemas" ng-controller="EmblemasCtrl as emble">
  <div class="row emblemas emblemas--boton">
    <div class="col-xs-12">
      <div class="row top">
        <div class="col-sm-5 emblemas__item ">
          <section ng-include="'views/platform/emblemasMembership.html'"></section>
        </div>
        <div class="col-sm-7 emblemas__item  hidden-xs">
          <section ng-include="'views/platform/emblemasFuncion.html'"></section>
        </div>
      </div>
      <div class="row bottom">
        <div class="col-lg-9 col-xs-12" >
          <p>
            <span ng-class="{'registered': emble.tempStyle === 'reg',
                             'acredited': emble.tempStyle === 'acr',
                             'premium': emble.tempStyle === 'pre',
                             'staffCorpo': emble.tempStyle === 'sc',
                             'projectMan': emble.tempStyle === 'pm',
                             'coworker': emble.tempStyle === 'co',
                             'repre': emble.tempStyle === 're' }">
              <strong class="titulo-mensaje--emblemas">{{emble.titleMessage}}</strong>
            </span>
            <br><span class="estatus-mensahe--emblemas">{{emble.statusMessage}}</span>
          </p>
        </div>
        <div class="col-lg-3 col-xs-12">
          <button ng-click="changeViewWithSpecElement('memberships','')"
                  ng-class="{'registered': emble.tempStyle === 'reg',
                             'acredited': emble.tempStyle === 'acr',
                             'premium': emble.tempStyle === 'pre',
                             'staffCorpo': emble.tempStyle === 'sc',
                             'projectMan': emble.tempStyle === 'pm',
                             'coworker': emble.tempStyle === 'co',
                             'repre': emble.tempStyle === 're' }">{{'btn.memberPrices' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->