<section id="portfolioModalDeleteConfirm">
  <div class="modal-body row" id="modal-body">
    <center><span>{{'modals.deleteConfirm' | translate}}</span></center>
  </div>
  <div class="modal-footer center-block">
    <div class="col-sm-12">
      <center>
        <button class="btn btn-primary" type="button" ng-click="portfolio.confirmDelete()">{{'btn.confirm' | translate}}</button>
        <button class="btn btn-default" type="button" ng-click="portfolio.cancel()">{{'btn.cancel' | translate}}</button>
      </center>
    </div>
  </div>
</section>
