<section id="sideBarPresentMyself">
  <div class="modal-body row" id="modal-body">
    <div class="col-sm-12">
      <button type="button" class="close" aria-label="Close" ng-click="sibaModal.ok()">
        <span aria-hidden="true" class="modalCloseBtn">&times;</span>
      </button>
    </div>
    <form class="form-horizontal" ng-submit="sibaModal.sendRequestGroupPermission()">
      <div class="col-sm-12">
        <p class="text-center">{{'modals.presentMyselfText1' | translate}}{{sibaModal.ownerName}}{{'modals.presentMyselfText2' | translate}}{{sibaModal.groupInfo.name}}!</p>
      </div>
      <div class="col-sm-12 modalFooterBtn">
        <center>
          <button class="btn btn-primary" type="submit">{{'btn.confirm' | translate}}</button>
          <button class="btn btn-default" type="button" ng-click="sibaModal.ok()">{{'btn.cancel' | translate}}</button>
        </center>
      </div>
    </form>
  </div>
</section>
