<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel--interna slide">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('../images/beneficios.jpg');"></div>
      <div class="carousel-caption">
        <div class="carousel-caption__principal">
          <h2>Beneficios</h2>
        </div>
      </div>
    </div>
  </div>
</header> <!-- End Header -->

<main class="main">
  <section class="beneficios">
    <div class="container ">
      <article class="row">
        <div class="col-xs-12">
          <div>
            <uib-tabset active="active" class="nav nav-tabs nav-tabsBeneficios tabs__beneficios">
              <uib-tab index="0" heading="Empresas">
                <div id="empresas">
                  <div class="beneficios__content text-center margin-top--small">
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-calidad-asintencia color-amarillo-calidad icono"></span>
                      <h4>Calidad y asistencia</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-amarillo-calidad fa fa-check-square-o"></span> Garantizamos el valor de nuestros
                          recursos mediante un programa de
                          <strong>acreditación y calificación
                            profesional</strong>, esto asegura la
                          calidad en los resultados.
                        </li>
                        <li>
                          <span class="color-amarillo-calidad fa fa-check-square-o"></span> Te brindamos consultoría y
                          asistencia, designando opcionalmente
                          <strong>Project Managers</strong> que coordinarán
                          tus proyectos de principio a
                          fin.
                        </li>
                      </ul>
                    </div>
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-un-socio-estrategico color-rojo-estrategico icono"></span>
                      <h4>Un socio estratégico</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-rojo-estrategico fa fa-check-square-o"></span> Proponemos reducir costos y tiempos
                          de gestión mediante una respuesta
                          alineada con tus necesidades de
                          <strong>mercado</strong>.
                        </li>
                        <li>
                          <span class="color-rojo-estrategico fa fa-check-square-o"></span> Esto es posible ya que funcionamos
                          como un socio estratégico: con
                          <strong>Rombus</strong> dispones de una <strong>agencia
                          global</strong> por menos de lo que cuesta
                          un empleado.
                        </li>
                      </ul>
                    </div>
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-estamos-donde-hace-falta color-morado-lugar icono"></span>
                      <h4>Estamos donde hace falta</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-morado-lugar fa fa-check-square-o"></span> Contamos con una extensa
                          comunidad de expertos en
                          numerosas ciudades para
                          ayudarte en tus acciones de
                          <strong>mercado local.</strong>
                        </li>
                        <li>
                          <span class="color-morado-lugar fa fa-check-square-o"></span> En los países de nuestra red,
                          brindamos cobertura <strong>regional
                          e internacional</strong>, colaborando
                          en los lugares de origen y
                          destino de tus negocios.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab index="1" heading="Profesionales">
                <div id="profesionales">
                  <div class="beneficios__content text-center margin-top--small">
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-recursos-humanos icono color-amarillo-calidad"></span>
                      <h4>Recursos y soporte</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-amarillo-calidad fa fa-check-square-o"></span> En <strong>Rombus Global</strong> cuentas con herramientas para vincularte y
                          generar crecimiento con el apoyo de
                          la organización y de colegas
                          dispuestos a colaborar y asociarse
                          contigo.
                        </li>
                        <li>
                          <span class="color-amarillo-calidad fa fa-check-square-o"></span> Dispondrás de tu propio perfil para exponer tu talento y la posibilidad de integrarte a
                          un <strong>staff multidisciplinario</strong>
                          para potenciar tu oferta
                          profesional.
                        </li>
                      </ul>
                    </div>
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-netowrking icono color-rojo-estrategico"></span>
                      <h4>Networking</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-rojo-estrategico fa fa-check-square-o"></span> Como <strong>miembro acreditado</strong>, podrás armar y coordinar tus propios equipos, seleccionándolos desde la
                          plataforma o invitando a tus compañeros de trabajo a subirse a la red.
                        </li>
                        <li>
                          <span class="color-rojo-estrategico fa fa-check-square-o"></span> Podrás juntarte con tus colegas y clientes en los <strong>espacios</strong> que iremos abriendo, y que tú mismo puedes
                          encabezar para <strong>representar a la
                          Agencia en tu ciudad.</strong>
                        </li>
                      </ul>
                    </div>
                    <div class="beneficios__item beneficios__padding">
                      <span class="global-tu-talento icono color-morado-lugar icono"></span>
                      <h4>Tu talento en primer lugar</h4>
                      <ul class="list-personalizada">
                        <li>
                          <span class="color-morado-lugar fa fa-check-square-o"></span> Valoramos la capacidad y la
                          experiencia profesional,
                          por eso en <strong>Rombus</strong> promovemos
                          la meritocracia interna mediante
                          un programa de <strong>acreditación
                          y calificación.</strong>
                        </li>
                        <li>
                          <span class="color-morado-lugar fa fa-check-square-o"></span> Ser miembro altamente calificado
                          te dará acceso a los proyectos
                          más interesantes y mejor pagos,
                          si además postulas para ser
                          <strong>Project Manager</strong> podrás atender
                          cuentas y coordinar equipos y
                          proyectos, ganando por ello.
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row text-center informacionSecundaria text-primary">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                      <h3>Rombus+ <strong>Suma tu talento</strong></h3>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <a class="btn text-uppercase btn-lg btn-miembros btn-miembros--staff" ng-click="changeViewWithSpecElement('register','')"><strong>Ingresa</strong></a>
                    </div>

                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
            
          </div>
        </div> <!-- End Nuestra Organización -->
      </article>
    </div>
  </section><!-- End Beneficios -->
  <section class="comoFuncionamos container padding">
    <article class="row text-center comoFuncionamos__informacion">
      <div class="col-xs-12 text-center margin-bottom">
        <h2 class="seccion__titulos seccion__titulos--semibold">¿Cómo funcionamos?</h2>
      </div>
      <div class="col-xs-12 col-sm-4 wow bounceInUp rojo">
        <img class="como-funcionamos-numeros" src="../images/circulo_1.svg" alt="¿Cómo funcionamos?">
        <p>Nos cuentas tu necesidad y colaboramos en las definiciones clave de tu proyecto.</p>
      </div>
      <div class="col-xs-12 col-sm-4 wow bounceInUp rojo" data-wow-delay="0.5s">
        <img class="como-funcionamos-numeros" src="../images/circulo_2.svg" alt="¿Cómo funcionamos?">
        <p>Seleccionamos el profesional o cluster creativo más adecuado para el caso o puedes elegirlo tú mismo desde el staff.</p>
      </div>
      <div class="col-xs-12 col-sm-4 wow bounceInUp rojo" data-wow-delay="1s">
        <img class="como-funcionamos-numeros" src="../images/circulo_3.svg" alt="¿Cómo funcionamos?">
        <p>Controlamos el proceso y te entregamos la solución lista para implementar.</p>
      </div>
    </article>
  </section> <!-- End Como Funcionamos -->
  <section class="llamadoContactanos informacionSecundaria text-center">
    <article class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <h3>¿Tienes un proyecto?</h3>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a class="btn text-uppercase btn-lg btn-miembros" ng-click="contactUsDialog(null)"><strong>Contáctanos</strong></a>
        </div>
      </div>
    </article>
  </section>
</main> <!-- End Main -->
<footer ng-include="'views/footer.html'"></footer>
<script>
  // animaciones

  wow = new WOW(
    {
      offset:       50,          // default
      mobile:       true,       // default
      live:         true        // default
    }
  );
  wow.init();



  
</script>