<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>


<div class="Slider">
  <div class="container">
      <div class="row">
          <div class="col-md-6 info">
              <h1 data-aos="fade-up" data-aos-delay="350" data-aos-offset="0" style="font-size: 60px; margin: 0; padding: 0;">Conéctate con</h1>
              <h1 data-aos="fade-up" data-aos-delay="350" data-aos-offset="0" class="alter"  style="font-size: 60px; margin:-10px 0 0 0 ; padding:0;">soluciones globales</h1>
              <p data-aos="fade-up" data-aos-delay="500" data-aos-offset="0" class="alter"  style="font-size: 15px; margin:15px 0 0 0 ; padding: 0 70px 70px 0;">Brindamos servicios de outsourcing estratégico, creativo y tecnológico con la potencia del trabajo independiente.</p>
              <div data-aos="fade-up" data-aos-delay="600" data-aos-offset="0" class="botones">
                  <a ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="botones-sl-empresa " style="color: #ffffff; ">Soy Empresa</a>
                  <a ng-click="changeViewWithSpecElement('register','')" class="botones-sl-talento ">Soy Talento</a>
              </div>
          </div>
          <div class="col-md-6">
              
          </div>
      </div>
  </div>
  <div class="BannerFlotantes" data-aos="zoom-in" data-aos-duration="300" data-aos-offset="0">
              <div class="item top_left">
                  <div class="pic marketing rotate">
                      <img src="../images/rbs_projects/especialidad_marketing.png" alt="">
                  </div>                            
              </div>
              <div class="item top_right">
                  <div class="pic diseno rotateb">
                      <img src="../images/rbs_projects/especialidad_diseno.png" alt="">
                  </div>                            
              </div>                    
              <div class="item botton_right">
                  <div class="pic publicidad rotate ">
                      <img src="../images/rbs_projects/especialidad_publicidad.png" alt="">
                  </div>                            
              </div>
              <div class="item botton_left">
                  <div class="pic programacion rotateb">
                      <img src="../images/rbs_projects/especialidad_programacion.png" alt="">
                  </div>                            
              </div>
          </div>
</div>


<div class="Clientes seccion_web">
  <div class="container">
      <div class="row row align-items-center">
          <div class="col-md-4 text-left text-start">
              <span>Los creativos de Rombus Global colaboramos con estas marcas:</span>
          </div>
          <div class="col-md-8">
              <ul class="SliderClientes">
                  <li class="advantalogo"><a href=""><img src="../images/clients/cl_advantalogo.png" alt=""></a></li>
                  <li class="amarula"><a href=""><img src="../images/clients/cl_amarula.png" alt=""></a></li>
                  <li class="dowagro"><a href=""><img src="../images/clients/cl_dowagro.png" alt=""></a></li>
                  <li class="granixx"><a href=""><img src="../images/clients/cl_granixx.png" alt=""></a></li>
                  <li class="hp"><a href=""><img src="../images/clients/cl_hp.png" alt=""></a></li>
                  <li class="natreon"><a href=""><img src="../images/clients/cl_natreon.png" alt=""></a></li>
                  <li class="superpollo"><a href=""><img src="../images/clients/cl_superpollo.png" alt=""></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>  


<div class="Banners hp seccion_web">
  <div class="container">
      <div class="row">
          <div class="col-12 d-none d-md-block"> 
 
            <div class="carousel_proyectos_pc"  >
                <div ng-click="changeViewWithSpecElement('portfoliodos','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/1.png" alt="" width="100%">
                </div>
                <div ng-click="changeViewWithSpecElement('portfoliotres','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/2.png" alt="" width="100%">
                </div>
                <div ng-click="changeViewWithSpecElement('portfoliocuatro','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/3.png" alt="" width="100%">
                </div>
                <div ng-click="changeViewWithSpecElement('portfoliouno','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/4.png" alt="" width="100%">
                </div>
                <div ng-click="changeViewWithSpecElement('portfolioseis','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/5.png" alt="" width="100%">
                </div>
                <div ng-click="changeViewWithSpecElement('portfoliosiete','')" class="item item_slider">
                  <img src="../images/clientes/slider/output/6.png" alt="" width="100%">
                </div>
              </div>
          </div>
          <div class="col-12 d-md-none">                        
              <div class="zona_proyectos_items">
                  <div class="carousel_proyectos_cell"  >
                      <div ng-click="changeViewWithSpecElement('portfoliodos','')" class="item item_slider ">
                        <img src="../images/clientes/slider/mobile/output/1.png" alt="" width="100%">
                      </div>
                      <div ng-click="changeViewWithSpecElement('portfoliotres','')" class="item item_slider">
                        <img src="../images/clientes/slider/mobile/output/2.png" alt="" width="100%">
                      </div>
                      <div ng-click="changeViewWithSpecElement('portfoliocuatro','')" class="item item_slider">
                        <img src="../images/clientes/slider/mobile/output/3.png" alt="" width="100%">
                      </div>
                      <div ng-click="changeViewWithSpecElement('portfoliouno','')" class="item item_slider">
                        <img src="../images/clientes/slider/mobile/output/4.png" alt="" width="100%">
                      </div>
                      <div ng-click="changeViewWithSpecElement('portfolioseis','')" class="item item_slider">
                        <img src="../images/clientes/slider/mobile/output/5.png" alt="" width="100%">
                      </div>
                      <div ng-click="changeViewWithSpecElement('portfoliosiete','')" class="item item_slider">
                        <img src="../images/clientes/slider/mobile/output/6.png" alt="" width="100%">
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="Creativos seccion_web">
  <div class="container">
    <div class="row row align-items-center">
      <div class="col-md-12 text-conoce mb-2">
        <span>Conoce el trabajo de nuestros creativos:</span>
      </div>
      <div class="col-md-12">
        <div class="zona_creativos_items">
 

        <div class="item_slider">
          <img src="../images/portafolio/SergioArteaga2.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-md-none">
            </div>
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/IgnacioOturakdjan.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-md-none">
            </div>
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/GuadalupeSanchez.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-md-none">
              <span class="name">Guadalupe Sanchez<br><b>España</b></span>
            </div>
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/MatiasParente.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/FranciscoTapia.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-none d-md-block">
            </div>
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/EstefaniGonzales.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-none d-md-block">
              <span class="name">Estefanía González / Ecuador</span>
            </div>
            <div class="autores d-md-none">
              <span class="name">Estefanía González<br><b>Ecuador</b></span>
            </div>
          </div>
        </div>
        <div class="item_slider">
          <img src="../images/portafolio/MariaVeronicaGuevara.jpg" width="100%" />
          <div class="manto"></div>
          <div class="master_autores">
            <div class="autores d-none d-md-block">
            </div>
          </div>
        </div>

        
        </div>
      </div>
      <div class="col-md-12 text-end texto-vermas">
        <a ng-click="changeViewWithSpecElement('staff','')"  class="ver_mas">Ver más en <b>Sección Talentos</b></a>
      </div>
    </div>
  </div>
</div>

<div class="Servicios seccion_web" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center"><h4>El talento que tu negocio necesita:</h4></div>
      </div>
      <div class="row items">
          <div class="col-6 col-md-3 item-1">
              <div ng-click="changeViewWithParams('services','area=mkt')" class="item_servicio marketing ">
                  <div class="item_body">
                  <div class="pic">
                      <div class="d-none d-md-block">
                          <img src="../images/soluciones/item01.jpg" alt="" class="img_preview" width="80px" height="79px">
                          <img src="../images/soluciones/item01h.jpg" alt="" class="img_hover" width="80px" height="79px">
                      </div>
                      <div class="d-md-none">
                          <img src="../images/soluciones/item01.jpg" alt="" class="img_preview" width="60px" height="59px">
                          <img src="../images/soluciones/item01h.jpg" alt="" class="img_hover" width="60px" height="59px">
                      </div>
                  </div>
                  <div class="titulo">
                      Estrategia y Marketing
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-6 col-md-3 item-2">
              <div ng-click="changeViewWithParams('services','area=des')" class="item_servicio diseno">
                  <div class="item_body">
                  <div class="pic">
                      <div class="d-none d-md-block">
                          <img src="../images/soluciones/item02.jpg" alt="" class="img_preview" width="80px" height="79px">
                          <img src="../images/soluciones/item02h.jpg" alt="" class="img_hover" width="80px" height="79px">
                      </div>
                      <div class="d-md-none">
                          <img src="../images/soluciones/item02.jpg" alt="" class="img_preview" width="60px" height="59px">
                          <img src="../images/soluciones/item02h.jpg" alt="" class="img_hover" width="60px" height="59px">
                      </div>
                  </div>
                  <div class="titulo">
                      Diseño y Contenidos
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-6 col-md-3 item-3">
              <div ng-click="changeViewWithParams('services','area=pub')" class="item_servicio publicidad">
                  <div class="item_body">
                  <div class="pic">
                      <div class="d-none d-md-block">
                          <img src="../images/soluciones/item03.jpg" alt="" class="img_preview" width="80px" height="79px">
                          <img src="../images/soluciones/item03h.jpg" alt="" class="img_hover" width="80px" height="79px">
                      </div>
                      <div class="d-md-none">
                          <img src="../images/soluciones/item03.jpg" alt="" class="img_preview" width="60px" height="59px">
                          <img src="../images/soluciones/item03h.jpg" alt="" class="img_hover" width="60px" height="59px">
                      </div>
                  </div>
                  <div class="titulo">
                      Publicidad y Campañas
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-6 col-md-3 item-4">
              <div ng-click="changeViewWithParams('services','area=eng')" class="item_servicio programacion">
                  <div class="item_body">
                  <div class="pic">
                      <div class="d-none d-md-block">
                          <img src="../images/soluciones/item04.jpg" alt="" class="img_preview" width="80px" height="79px">
                          <img src="../images/soluciones/item04h.jpg" alt="" class="img_hover" width="80px" height="79px">
                      </div>
                      <div class="d-md-none">
                          <img src="../images/soluciones/item04.jpg" alt="" class="img_preview" width="60px" height="59px">
                          <img src="../images/soluciones/item04h.jpg" alt="" class="img_hover" width="60px" height="59px">
                      </div>
                  </div>
                  <div class="titulo">
                      Programación y Tecnología
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="Informacion seccion_web">
  <div class="container">
  <div class="row items">
      <div class="col-12 col-infos">
          <div class="row align-items-center flexible">
              <div class="col-md-6 text-start text-md-end" data-aos="fade-right" data-aos-delay="0">
                  <span class="hfull">
                      Flexible
                  </span>
              </div>
              <div class="col-md-6 text-start" data-aos="fade-left" data-aos-delay="300">
                  <p>
                      ¿Buscas un/a especialista, un equipo dedicado o una agencia completa a tu disposición? En Rombus Global tienes todas las opciones, en un sólo lugar. <a href="./modo-rombus">Cómo funciona</a>
                  </p>
              </div>
          </div>
          <div class="row align-items-center temporal">                    
              <div class="col-md-5 text-start text-md-end order-2 order-md-1" data-aos="fade-right" data-aos-delay="900">
                  <p>
                    <p style="text-align: right; margin-right: 25px;">Estamos para acompañarte en los momentos importantes, sin contratos ni compromisos costosos. Paga sólo por lo que necesites, cuando lo necesites, con entrega asegurada. <a href="./security">Saber más</a>
                  </p>
              </div>
              <div class="col-md-7 text-start order-1 order-md-2" data-aos="fade-left" data-aos-delay="600">
                  <span class="hfull">
                      Temporal
                  </span>
              </div>
          </div>
          <div class="row align-items-center remoto">
              <div class="col-md-7 text-start text-md-end" data-aos="fade-right" data-aos-delay="900">
                  <span class="hfull">
                      Remoto
                  </span>
              </div>
              <div class="col-md-5 text-start" data-aos="fade-left" data-aos-delay="1200">
                  <p>
                      No pierdas tiempo en búsquedas y pruebas a riesgo. Cuéntanos tus objetivos y te vincularemos con soluciones de outsourcing remoto altamente eficaces. <a ng-click="changeViewWithSpecElement('register','')"
                      ng-if="header.userLogged != true"  >Pruébalo ahora</a>
                      <a ng-click="changeViewWithSpecElement('project-wizard/step1','')"
                      ng-if="header.userLogged === true" >Pruébalo ahora</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>



<div>        
  <div class="Expertos seccion_web">
      <div class="container">
          <div class="row align-items-center">
              <div class="order-2 order-md-1 col-md-5 mt-5 mt-md-0">
                  <h3>Ponemos las mejores ideas<br>de expertos independientes<br>al alcance de tu empresa.</h3>
                  <ul class="beneficios">
                      <li>
                          <a href="">                                    
                              <span>Conectamos a profesionales calificados en <b>Marketing</b>, <b>Comunicación y Tecnología</b> con empresas que buscan resolver sus objetivos de transformación digital, innovación tecnológica y crecimiento de mercado.</span>
                          </a>
                      </li>
                      <li>
                          <a href="">                                    
                              <span>Nuestros especialistas se integran en un <b>staff global abierto</b>, <b>multidisciplinario y diverso</b>, que ya abarca más de 20 países.</span>
                          </a>
                      </li>
                  </ul>
                  <div class="text-left text-md-start">
                      <span class="sumate"><b>En Rombus, los mejores talentos tienen un lugar. <a href="./register">¡Súmate!</a></b></span>
                      <a href="./register" class="ser_parte">
                          Quiero ser parte
                      </a>
                  </div>
              </div>
              <div class="order-1 order-md-2 col-md-6 offset-md-1 ">
                  <div class="row talentos_row">
                      <div class="col-x col-x1 pt-md-5" data-aos="fade-up" data-aos-delay="0">
                          <div class="talento mt-5">
                              <div class="pic">
                                  <img src="../images/talentos/eugenia.png" alt="">
                                  <div class="sobra marketing"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Eugenia Lucia Ortega</div>
                                  <div class="cargo">Strategic Planning</div>
                                  <div class="lugar">BA, Argentina</div>
                              </div>
                          </div>
                          <div class="talento mt-5 d-md-none">
                              <div class="pic">
                                  <img src="../images/talentos/juan.png" alt="">
                                  <div class="sobra programacion"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Juan Martín Gimenez</div>
                                  <div class="cargo">Front-End Dev.</div>
                                  <div class="lugar">Córdoba, Argentina</div>
                              </div>
                          </div>
                          <div class="degrade publicidad"></div>
                      </div>
                      <div class="col-x col-x2 pt-5 pt-md-0" data-aos="fade-up" data-aos-delay="200">   
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/miguel.png" alt="">
                                  <div class="sobra publicidad"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Miguel Alejandro Torres</div>
                                  <div class="cargo">Locutor</div>
                                  <div class="lugar">Puebla, México</div>
                              </div>
                          </div>
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/bernardo.png" alt="">
                                  <div class="sobra programacion"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Bernardo Munz</div>
                                  <div class="cargo">Full-Stack Dev.</div>
                                  <div class="lugar">Chatswood, Australia</div>
                              </div>
                          </div>
                          <div class="degrade diseno d-none d-md-block"></div>
                      </div>
                      <div class="col-x col-x3 pt-md-5" data-aos="fade-up" data-aos-delay="400">
                          <div class="talento mt-5">
                              <div class="pic">
                                  <img src="../images/talentos/juan.png" alt="">
                                  <div class="sobra programacion"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Juan Martín Gimenez</div>
                                  <div class="cargo">Front-End Dev.</div>
                                  <div class="lugar">Córdoba, Argentina</div>
                              </div>
                          </div>
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/gaston.png" alt="">
                                  <div class="sobra publicidad"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Gastón Scaglione</div>
                                  <div class="cargo">Fotógrafo</div>
                                  <div class="lugar">El Talar, Argentina</div>
                              </div>
                          </div>
                          <div class="degrade marketing d-none d-md-block"></div>
                      </div>
                      <div class="col-x col-x4" data-aos="fade-up" data-aos-delay="800">
                          <div class="degrade programacion"></div>
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/dario.png" alt="">
                                  <div class="sobra diseno"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Darío Fernández</div>
                                  <div class="cargo">UX-UI Designer</div>
                                  <div class="lugar">Barcelona, España</div>
                              </div>
                          </div>
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/dana.png" alt="">
                                  <div class="sobra marketing"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Dana Cano Suárez</div>
                                  <div class="cargo">Digital Growth Mkt</div>
                                  <div class="lugar">Lima, Perú</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-x col-x5" data-aos="fade-up" data-aos-delay="1000">
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/bemsson.png" alt="">
                                  <div class="sobra marketing"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Bemsson Guerrero</div>
                                  <div class="cargo">Inbound Marketing</div>
                                  <div class="lugar">Managua, Nicaragua</div>
                              </div>
                          </div>
                          <div class="talento">
                              <div class="pic">
                                  <img src="../images/talentos/greivin.png" alt="">
                                  <div class="sobra programacion"></div>
                              </div>
                              <div class="texto">
                                  <div class="autor">Greivin Cruz Ríos</div>
                                  <div class="cargo">Web Development</div>
                                  <div class="lugar">San José, Costa Rica</div>
                              </div>
                          </div>
                          <div class="degrade publicidad"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="Numeros seccion_web d-none d-md-block">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="plus">+</span><span class="numerito">40</span></span>
                      <span class="titulo">Especialidades profesionales en 4 áreas de servicios.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">23</span></span>
                      <span class="titulo">Países de América, Europa y Oceanía representados en el staff.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">3</span></span>
                      <span class="titulo">Agencias Comerciales en México, Chile y Argentina.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">15</span></span>
                      <span class="titulo">Espacios de trabajo asociados a la red de coworking en LatAm.</span>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="Numeros seccion_web  d-md-none">
      <div class="row">
          <div class="col-12">
              <VueSlickCarousel v-bind="numSettings" >
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="plus">+</span><span class="numerito">40</span></span>
                      <span class="titulo">Especialidades profesionales en 4 áreas de servicios.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">23</span></span>
                      <span class="titulo">Países de América, Europa y Oceanía representados en el staff.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">3</span></span>
                      <span class="titulo">Agencias Comerciales en México, Chile y Argentina.</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <span class="numero"><span class="numerito">15</span></span>
                      <span class="titulo">Espacios de trabajo asociados a la red de coworking en LatAm.</span>
                  </div>
              </div>
          </VueSlickCarousel>
          </div>
      </div>
  </div>



  <div class="Testimonios seccion_web">
      <div class="container">
          <div class="row my-0 my-md-5">
              <div class="testimonios_slick">


                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p>“Contratamos a Rombus en distintas oportunidades para la promoción de las principales marcas del portfolio: <b>Amarula, Grants, Glenffidich, Bass Pale Ale</b>, entre otras. Siempre respondieron eficazmente, acorde a nuestras expectativas.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/fabian_alvarez.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Fabián Álvarez</span>
                          <div class="cargo">Regional Manager</div>
                          <div class="entidad">Wines & Spirits</div>
                      </div>
                  </div>
                </div>

                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p >“En Rombus encontramos una respuesta de alta calidad, flexible y de rápida resolución para la  presentación en nuestro país del programa de <b>HP PremierA3</b>.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/gustavo_zurueta.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Gustavo Zurueta</span>
                          <div class="cargo" >Director Ejecutivo de Procopias</div>
                          <div class="entidad" >HP PremierA3 Argentina</div>
                      </div>
                  </div>
                </div>

                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p>“Coordinamos diversas campañas para empresas agroalimentarias de primera línea como <b>Dow Agrosciences, Granix, Advanta Semillas y Fargo</b>, con óptimos resultados en la difusión y posicionamiento de sus productos.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/eduardo_dubinsky.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Ing. Eduardo Dubinsky</span>
                          <div class="cargo">Consultor Técnico Internacional en</div>
                          <div class="entidad">Grasas y Aceites Comestibles</div>
                      </div>
                  </div>
                </div>
                
                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p>“Contratamos a Rombus en distintas oportunidades para la promoción de las principales marcas del portfolio: <b>Amarula, Grants, Glenffidich, Bass Pale Ale</b>, entre otras. Siempre respondieron eficazmente, acorde a nuestras expectativas.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/fabian_alvarez.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Fabián Álvarez</span>
                          <div class="cargo">Regional Manager</div>
                          <div class="entidad">Wines & Spirits</div>
                      </div>
                  </div>
                </div>

                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p >“En Rombus encontramos una respuesta de alta calidad, flexible y de rápida resolución para la  presentación en nuestro país del programa de <b>HP PremierA3</b>.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/gustavo_zurueta.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Gustavo Zurueta</span>
                          <div class="cargo" >Director Ejecutivo de Procopias</div>
                          <div class="entidad" >HP PremierA3 Argentina</div>
                      </div>
                  </div>
                </div>

                <div class="item">
                  <div class="manto"></div>
                  <div class="comilla"></div>
                  <p>“Coordinamos diversas campañas para empresas agroalimentarias de primera línea como <b>Dow Agrosciences, Granix, Advanta Semillas y Fargo</b>, con óptimos resultados en la difusión y posicionamiento de sus productos.”</p>
                  <div class="autor">
                      <div class="pic">
                          <img src="../images/comentarios/eduardo_dubinsky.png" alt="">
                      </div>
                      <div class="info">
                          <span class="nombre" >Ing. Eduardo Dubinsky</span>
                          <div class="cargo">Consultor Técnico Internacional en</div>
                          <div class="entidad">Grasas y Aceites Comestibles</div>
                      </div>
                  </div>
                </div>


              </div>
          </div>
      </div>
  </div>

  <div class="ModoRombus seccion_web">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="texto">Elige tu <a href="/modo-rombus"><span class="cmm">Modo</span><span class="cmb">Rombus</span></a> <br class="d-md-none">¡Y comencemos a darle vuelo a tu negocio! <img class="plan" src="../images/modo_rombus.png" alt=""></div>
              </div>
          </div>
      </div>
  </div>
</div>


<footer ng-include="'views/footer.html'"></footer>




<script>
  $(".carousel_proyectos_pc").slick({
      edgeFriction: 0.35,
      infinite: true,
      speed: 700,
      autoplaySpeed: 4000,
      slidesToShow: 1,
      slidesToScroll: 1,
      touchThreshold: 5,
      dots:true,
      autoplay:true,
      fade:true,
      arrows:false
    });
    $(".carousel_proyectos_cell").slick({
      edgeFriction: 0.35,
      infinite: true,
      speed: 700,
      autoplaySpeed: 4000,
      slidesToShow: 1,
      slidesToScroll: 1,
      touchThreshold: 5,
      dots:true,
      autoplay:true,
      fade:false,
      centerMode:true,
      centerPadding:'30px',
      arrows:false
    });


    $(".zona_creativos_items").slick({
      edgeFriction: 0.35,
      infinite: true,
      speed: 800,
      autoplaySpeed: 5000,
      slidesToShow: 5,
      slidesToScroll: 1,
      touchThreshold: 5,
      dots: true,
      autoplay: true,
      centerMode: true,
      centerPadding: '0px',
      arrows:false,
      customPaging: function(slick, index) {
        console.log("index: " + index);
        console.log("slick: " + slick);
      },
      "responsive": [
                {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "dots": true
                }
                },
                {
                "breakpoint": 768,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "initialSlide": 1,
                    "centerPadding": '30px',
                }
                } 
            ],
    });

    $(".testimonios_slick").slick({
    edgeFriction: 0.35,
            infinite: true,
            speed: 800,
            autoplay: true,
            autoplaySpeed: 8000,
            slidesToShow: 3,
            slidesToScroll: 1,
            touchThreshold: 3,
            arrows:false,
            "responsive": [
                {
                "breakpoint": 1024,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "initialSlide": 1,
                        "infinite": true,
                        "dots": true
                    }
                },
                {
                "breakpoint": 600,
                    "settings": {
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "initialSlide": 1
                    }
                },
                {
                "breakpoint": 480,
                    "settings": {
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "initialSlide": 1
                    }
                }
            ],
            dots:true,
            centerMode : true,
            centerPadding : "0px",
          });
</script>

<script>
  AOS.init();
</script>