<nav scroll ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel-fade slide carousel--borderbottom carousel--porftolio jmpa_myCarousel header_home">
  <div class="bgzonesolutions jmpa_view_pc">
    <div class="bgdifuminado"></div>
</div>
<div class="jmp_fondo_cell_sol_slider jmpa_view_cell">
  <div class="difuminado_cell">
  </div>
  <img src="../images/bg_rombus_home_cell.jpg" alt="" width="100%">
</div>
  <div class="container">
    <div class="row justify-content-center"
      <div class="col-xs-12">
          <div class="jmpa_carousel">
            <div class="carousel-caption__principal">
              <h2 class="agencia-slider h2home">Conecta con<br><span>talento global</span></h2>
              <h4 class="informacion_agencia jmpa_view_pc h4home">Integrando estrategia, tecnología y creatividad<br> con la potencia del trabajo independiente.</h4>
              <h4 class="informacion_agencia jmpa_view_cell">Integramos estrategia, tecnología y creatividad con la potencia del trabajo independiente.</h4>
              <div class="carousel-caption__botones btns_header_main">
                <a ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="btn btn-slider btn-slider--azullight">Soy Empresa</a>
                <a href="/register" class="btn btn-slider btn-slider--azuldark">Soy Talento</a>
              </div>
              <div class="bloque_marcas">
                <span class="titulobloquemarcas">Los creativos de Rombus colaboramos con estas marcas:</span>
                <slick autoplay="true" infinite="true" speed="200" slides-to-show="4" touch-move="true" slides-to-scroll="3" arrows="false"  class="marcas_slider jmpa_view_pc">
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/Advanta.jpg" alt="Advanta">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/Amarula.jpg" alt="Amarula">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/DowAgro.jpg" alt="DowAgro">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/Granix.jpg" alt="Granix">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/HP.jpg" alt="HP">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/Natreon.jpg" alt="Natreon">                      
                    </div>
                    <div>
                      <img class="img-responsive" src="../images/clients/slider/SuperPollo.jpg" alt="SuperPollo">                      
                    </div>
                </slick>
                <slick autoplay="true" infinite="true" speed="200" slides-to-show="4" touch-move="true" slides-to-scroll="3" arrows="false"  class="marcas_slider jmpa_view_cell">
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/Advanta_cell.jpg" alt="Advanta" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/Amarula_cell.jpg" alt="Amarula" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/DowAgro_cell.jpg" alt="DowAgro" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/Granix_cell.jpg" alt="Granix" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/HP_cell.jpg" alt="HP" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/Natreon_cell.jpg" alt="Natreon" >
                  </div>
                  <div>                    
                    <img class="img-responsive" src="../images/clients/slider/SuperPollo_cell.jpg" alt="SuperPollo" >
                  </div>
              </slick>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div>



</header> <!-- End Header -->

<main class="main jp_rhp_main jmpa_home_main">
  <div class="container jmpa_view_pc">
    <div class="row">
      <div class="col-xs-12">
        <section class="jp_rhp_impulsa">
          
          <div class="fondoimpulsa jmpa_view_pc"></div>
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10">
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <span>Por qué nos eligen</span>
                </div>
                <div class="col-xs-12 col-md-8">
                  <h1 class="jmpa_view_pc">Impulsamos a las empresas<br>en el mundo digital.</h1>
                  <h1 class="jmpa_view_cell">Impulsamos<br>a las empresas<br>en el mundo digital.</h1>
                </div>
                <div class="col-xs-12 col-md-8">
                  <p>En Rombus Global integramos estrategia, tecnología y creatividad para acompañar el crecimiento empresario. Nuestra “Plataforma de Talentos en Línea” reune profesionales de 22 países, en una red dinámica y flexible de recursos que nos permite ofrecer soluciones a medida de cada cliente.</p>
                </div>                
              </div>
            </div>
          </div>
      
        </section>
        <img src="../images/sumomitalentocell.jpg" alt="" width="100%" class="jmpa_view_cell round10">
      </div>
    </div>
  </div>
<div class="container consoluciones">
<div class="row justify-content-center">
<div class="col-xs-12 col-md-10">
  <section class="jp_rhp_soluciones">
      <div class="row">
        <div class="col-xs-12">
          <h1>Las soluciones que tu negocio necesita</h1>
        </div>
        <div class="col-xs-12">
          <div class="row jp_rhp_items">
            <div class="col-xs-6 col-md-3">
              <div class="item colores_bloques hc1" ng-click="changeViewWithParams('services','area=mkt')">
                <img src="../images/soluciones/item01.jpg" alt="" class="phcol">
                <img src="../images/soluciones/item01h.jpg" class="hcol" alt="">
                <div class="titulo">Estrategia y<br>Marketing</div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="item colores_bloques hc2" ng-click="changeViewWithParams('services','area=des')">
                <img src="../images/soluciones/item02.jpg" alt="" class="phcol">
                <img src="../images/soluciones/item02h.jpg" class="hcol" alt="">
                <div class="titulo">Diseño y<br>Contenidos</div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="item colores_bloques hc3" ng-click="changeViewWithParams('services','area=pub')">
                <img src="../images/soluciones/item03.jpg" alt="" class="phcol">
                <img src="../images/soluciones/item03h.jpg" class="hcol" alt="">
                <div class="titulo">Publicidad y<br>Campañas</div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="item colores_bloques hc4" ng-click="changeViewWithParams('services','area=eng')">
                <img src="../images/soluciones/item04.jpg" alt="" class="phcol">
                <img src="../images/soluciones/item04h.jpg" class="hcol" alt="">
                <div class="titulo">Programación<br>y Tecnología</div>
              </div>
            </div>
          </div>
      </div>      
    </div>
  </section>
</div></div></div>

<div class="container">
  <div class="row justify-content-center">
  <div class="col-xs-12 col-md-8">
    <div class="row jp_rhp_items_rfs links">
      <div class="col-md-4">
        <h2>Rápido</h2>
        <p>En tan sólo 4 pasos y sin ningún compromiso, describes tu proyecto y nos indicas el servicio que estás necesitando.</p>
      </div>
      <div class="col-md-4">
        <h2>Fácil</h2>
        <p>Seleccionas el formato de prestación más adecuado, dejas el importe en depósito seguro e iniciamos el trabajo con entrega garantizada.</p>
      </div>
      <div class="col-md-4">
        <h2>Seguro</h2>
        <p>Verificas el proceso, das tu conforme para liberar el pago por el trabajo y ya tienes la solución terminada ¡Lista para implementar! <span ng-click="changeViewWithSpecElement('security','')">(Leer más.)</span></p>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="full_contain_formato">
    <section class="jp_rhp_formato">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 class="jmpa_view_pc">Elige el formato adecuado para tu proyecto</h1>
            <h1 class="jmpa_view_cell">Elige el formato adecuado<br>para tu proyecto</h1>
          </div>
  
 
  
          <div class="col-xs-12 text-center">
            <h4>En Rombus sólo pagas por lo que necesitas.</h4>
          </div>
        </div>
      </div>
    </section>
  
    <div class="container bgcellformato">
      <div class="row justify-content-center">
      <div class="col-xs-12 col-md-10">
        <section class="jp_rhp_formato">
          <div class="bloque_item">
            <div class="row">
              <div class="col-md-6">
                <div class="item">
                  <img src="../images/formatos/01-RombusFree.jpg" alt="">
                  <span class="titulo">Rombus<b>Free</b></span>
                  <span class="des">Un/a experto/a a tu servicio</span>
                  <p>Publica tu proyecto libremente y sin cargo en la plataforma y recibirás propuestas de freelancers expertos en tu tema, para que selecciones el más adecuado.</p>
                  <a class="btn-slider--azullight" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Elijo esta opción</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <img src="../images/formatos/02-RombusTeam.jpg" alt="">
                  <span class="titulo">Rombus<b>Team</b></span>
                  <span class="des">Un equipo dedicado</span>
                  <p>Si el proyecto requiere el trabajo de un equipo de especialistas, opta por un Director de Proyecto, quien se encargará de seleccionar los perfiles, coordinará el plan de ejecución y controlará todo el proceso.</p>
                  <a class="btn-slider--azullight" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Elijo esta opción</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <img src="../images/formatos/02-RombusCentral.jpg" alt="">
                  <span class="titulo">Rombus<b>Local</b></span>
                  <span class="des">Asistencia cercana</span>
                  <p>Si necesitas contar con asistencia directa y presencial. Elije esta opción y serás atendido por un representante de Rombus en tu país o un profesional cercano a tu localidad.</p>
                  <a class="btn-slider--azullight" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Elijo esta opción</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <img src="../images/formatos/01-RombusTeam.jpg" alt="">
                  <span class="titulo">Rombus<b>Central</b></span>
                  <span class="des">Atención Corporativa</span>
                  <p>Si tienes en mente un proyecto especial o de mayor escala, ponemos a tu disposición todos los recursos de gestión y talento de la agencia y su red internacional, para el logro de tus objetivos.</p>
                  <a class="btn-slider--azullight" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Elijo esta opción</a>
                </div>
              </div>
            </div>
        </div>
        </section>
      </div>
    </div>
    </div>
  </div>


  <section class="jp_rhp_comolohacemos">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>¿Cómo lo hacemos?</h1>
        </div>
        <div class="col-xs-12">
          <p>Con un modelo de gestión abierta que reune prestaciones de <b>Agencia + Marketplace + Red</b>, para dar cobertura integral a las necesidades de transformación digital, acceso al talento y crecimiento de mercado.</p>
        </div>
        <div class="col-xs-12">
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8">
              <div class="row jp_rhp_items_clh">
                <div class="col-md-4">
                  <div class="cruz_clh jmpa_view_pc">+</div>
                  <div class="circulocomo">
                    <div class="textos">
                      <h2 class="jmpa_view_pc">Agencia<br>Digital</h2>
                      <h2 class="jmpa_view_cell">Agencia Digital</h2>
                      <p>Rombus<b>Central</b></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cruz_clh jmpa_view_pc">+</div>
                  <div class="cruz_clh jmpa_view_cell">+</div>
                  <div class="circulocomo">
                    <div class="textos">
                      <h2 class="jmpa_view_pc">Marketplace<br>de Talentos</h2>
                      <h2 class="jmpa_view_cell">Marketplace de Talentos</h2>
                      <p>Rombus<b>Free/Team</b></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cruz_clh jmpa_view_cell">+</div>
                  <div class="circulocomo">
                    <div class="textos">
                      <h2 class="jmpa_view_pc">Red<br>Internacional</h2>
                      <h2 class="jmpa_view_cell">Red Internacional</h2>
                      <p>Rombus<b>Local</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <span class="jp_ofreciendo">Ofreciendo a cada cliente, una experiencia memorable:</span>
        </div>
      </div>
      <div class="jpm_rhp_rectangulos_marcas">
          <div class="row">
            <div class="col-md-4 jmpa_view_pc">
              <div class="item_clientes cli_hmandt">
                <div class="cruz" ng-click="changeViewWithParams('portfoliouno','')">Ver caso destacado</div>

                <div class="hoverporta hv_hmandt">
                  <span>HMANDT</span>
                  <p>Integramos a la marca con las ofertas de reservas turísticas en todo el mundo.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/HMANDT.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/hmandt.png" alt="" class="jp_cli_logo">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item_clientes cli_hp">
                <div class="cruz" ng-click="changeViewWithParams('portfoliodos','')">Ver caso destacado</div>

                <div class="hoverporta hv_hp">
                  <span>HP PREMIER A3</span>
                  <p>Colaboramos para la presentación de un nuevo programa de HP en Argentina.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/hp.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/hp.png" alt="" class="jp_cli_logo">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item_clientes cli_superpollo">
                <div class="cruz" ng-click="changeViewWithParams('portfoliotres','')">Ver caso destacado</div>

                <div class="hoverporta hv_superpollo">
                  <span>SÚPER POLLO</span>
                  <p>Toda una comunidad emocionada y agradecida con la idea de esta campaña.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/SuperPollo.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/superpollo.png" alt="" class="jp_cli_logo">
                </div>
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-md-4">
              <div class="item_clientes cli_natreon">
                <div class="cruz" ng-click="changeViewWithParams('portfoliocuatro','')">Ver caso destacado</div>

                <div class="hoverporta hv_natreon">
                  <span>DOW AGROSCIENCES</span>
                  <p>Posicionamos al producto como líder en la industria de alimentos procesados.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/natreon.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/dowagrosciences.png" alt="" class="jp_cli_logo">
                </div>
              </div>
            </div>
            <div class="col-md-4 jmpa_view_pc">
              <div class="item_clientes cli_theclinic">
                <div class="cruz" ng-click="changeViewWithParams('portfolioseis','')">Ver caso destacado</div>

                <div class="hoverporta hv_theclinic">
                  <span>THE CLINIC / CM FRESH</span>
                  <p>Perfil de uno de los más jóvenes exponentes del trap haitiano, made in Chile.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/TheClinic.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/theclinic.png" alt="" class="jp_cli_logo">
                </div>
              </div>
            </div>
            <div class="col-md-4 jmpa_view_pc">
              <div class="item_clientes cli_altosol">
                <div class="cruz" ng-click="changeViewWithParams('portfoliosiete','')">Ver caso destacado</div>
                <div class="hoverporta hv_altosol">
                  <span>ALTOSOL OLIVA GOURMET</span>
                  <p>Una estrategia inteligente para el diseño y evaluación del producto por parte de expertos.</p>
                </div>
                <img class="jp_cl_pic" src="../images/clientes/Altosol.jpg" alt="">
                <div class="jp_co_cli_logo">
                  <img src="../images/clientes/logo/altosol.png" alt="" class="jp_cli_logo">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="jrh_portafolio">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <span class="jp_ofreciendo">Conoce el trabajo de nuestros creativos:</span>
        </div>
        <div class="col-xs-12 text-right jmpa_view_pc">
          <span class="vermastale" ng-click="changeViewWithParams('staff','')">(Ver más en <b>Sección Talentos</b>)</span>
        </div> 
        <div class="col-xs-12">

          <slick autoplay="true" infinite="true" speed="200" slides-to-show="5" touch-move="true" slides-to-scroll="1" arrows="true"  class="portafolio_slider jmpa_view_pc">
            <section class="ulmascara">
              <ul>
                <li><i></i></li>
                <li><i></i></li>
                <li></li>
                <li><i></i></li>
                <li><i></i></li>
              </ul>
              </section>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/SergioArteaga.jpg" alt="Advanta" >
              <span class="nameautorpor">Sergio Arteaga / Uruguay</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/EstefaniaReynoso.jpg" alt="Amarula" >
              <span class="nameautorpor">Estefania Reynoso / Argentina</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MunchiVega.jpg" alt="DowAgro" >
              <span class="nameautorpor">Munchi Vega / Argentina</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/IgnacioOturakdjan.jpg" alt="Granix" >
              <span class="nameautorpor">Ignacio Oturakdjan / Argentina</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MariaVeronicaGuevara.jpg" alt="HP" >
              <span class="nameautorpor">Maria Guevara / Argentina</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MatiasParente.jpg" alt="Natreon" >
              <span class="nameautorpor">Matias Parente / Argentina</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MatiasTorrealba.jpg" alt="SuperPollo" >
              <span class="nameautorpor">Matias Torrealba / Chile</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/SergioArteaga2.jpg" alt="SuperPollo" >
              <span class="nameautorpor">Sergio Arteaga / Uruguay</span>
            </div>
            <div>
              <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/GuadalupeSanchez.jpg" alt="SuperPollo" >
              <span class="nameautorpor">Guadalupe Sanchez / España</span>
            </div>
          </slick>
        </div>
        <slick autoplay="true" infinite="true" speed="200" slides-to-show="1" touch-move="true" slides-to-scroll="1" arrows="true"  class="portafolio_slider jmpa_view_cell">
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/SergioArteaga.jpg" alt="Advanta" >
            <span class="nameautorpor">Sergio Arteaga / Uruguay</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/EstefaniaReynoso.jpg" alt="Amarula" >
            <span class="nameautorpor">Estefania Reynoso / Argentina</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MunchiVega.jpg" alt="DowAgro" >
            <span class="nameautorpor">Munchi Vega / Argentina</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/IgnacioOturakdjan.jpg" alt="Granix" >
            <span class="nameautorpor">Ignacio Oturakdjan / Argentina</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MariaVeronicaGuevara.jpg" alt="HP" >
            <span class="nameautorpor">Maria Guevara / Argentina</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MatiasParente.jpg" alt="Natreon" >
            <span class="nameautorpor">Matias Parente / Argentina</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/MatiasTorrealba.jpg" alt="SuperPollo" >
            <span class="nameautorpor">Matias Torrealba / Chile</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/SergioArteaga2.jpg" alt="SuperPollo" >
            <span class="nameautorpor">Sergio Arteaga / Uruguay</span>
          </div>
          <div>
            <div class="capaportapic"></div><img class="img-responsive" src="../images/portafolio/GuadalupeSanchez.jpg" alt="SuperPollo" >
            <span class="nameautorpor">Guadalupe Sanchez / España</span>
          </div>
        </slick>
        </div>
        <div class="col-xs-12 col-md-6 text-center jmpa_view_cell" ng-click="changeViewWithParams('staff','')">
          <span class="vermastale">(Ver más en <b>Sección Talentos</b>)</span>
        </div>
      </div>
    </div>
  </section>
  
<div class="container">
  <div class="row justify-content-center">
  <div class="col-xs-12 col-md-10">
  <section class="jp_rhp_seguridad">

          <div class="bloque_seguridad_and_comentario">
            <div class="row">
              <div class="col-md-6">
                <div class="bloque_seguridad">
                  <span class="titulo">Seguridad y Transparencia</span>
                  <h3>Tu pago / tu cobro<br><span>asegurados desde el primer momento.</span></h3>
                  <p>En Rombus Global utilizamos el sistema de depósito seguro (escrow) que garantiza el cumplimiento de todas las operaciones.</p>
                  <a ng-click="changeViewWithSpecElement('security','')">Saber más</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="carousel_nhp carousel--testimonios_rhp" id="testimonios_rhp">
                  <ol class="carousel-indicators">
                    <li data-target="#testimonios_rhp" data-slide-to="0" class="ol_por active" onclick="$('.carousel_nhp .item').removeClass('active');$('#item_porta_1').addClass('active');$('.ol_por').removeClass('active');$(this).addClass('active');"></li>
                    <li data-target="#testimonios_rhp" data-slide-to="1" class="ol_por" onclick="$('.carousel_nhp .item').removeClass('active');$('#item_porta_2').addClass('active');$('.ol_por').removeClass('active');$(this).addClass('active');"></li>
                    <li data-target="#testimonios_rhp" data-slide-to="2" class="ol_por" onclick="$('.carousel_nhp .item').removeClass('active');$('#item_porta_3').addClass('active');$('.ol_por').removeClass('active');$(this).addClass('active');"></li>
                  </ol>
                <div class="bloque_comentarios carousel-inner">

                    <div class="item active" id="item_porta_1">
                      <img src="../images/comillas_temp.png" class="vieneta" alt="">
                      <p>Coordinamos diversas campañas para empresas agroalimentarias de primera línea como Dow Agroscienes, Granix, Advanta Semillas y Fargo, con óptimos resultados en la difusión y posicionamiento de sus productos”.</p>
                      <div class="zona_autor">
                        <img src="../images/comentarios/eduardo_dubinsky.png" alt="" class="foto_autor">
                        <div class="datos">
                          <span class="cargo">Ing. Eduardo Dubinsky</span>
                          <span class="experiencia">Consultor Técnico Internacional<br>en Grasas y Aceites Comestibles</span>
                        </div>
                      </div>
                    </div>

                    <div class="item" id="item_porta_2">
                      <img src="../images/comillas_temp.png" class="vieneta" alt="">
                      <p>“En Rombus encontramos una respuesta de alta calidad, flexible y de rápida resolución para la  presentación en nuestro país del programa de HP PremierA3.” 
                      </p>
                      <div class="zona_autor">
                        <img src="../images/comentarios/gustavo_zurueta.png" alt="" class="foto_autor">
                        <div class="datos">
                          <span class="cargo">Gustavo Zurueta</span>
                          <span class="experiencia">Director Ejecutivo de Procopias,<br>HP PremierA3 Argentina</span>
                        </div>
                      </div>
                    </div>

                    <div class="item" id="item_porta_3">
                      <img src="../images/comillas_temp.png" class="vieneta" alt="">
                      <p>“Contratamos a Rombus en distintas oportunidades para la promoción y marketing directo de las principales marcas del portfolio: Amarula, Grants, Glenffidich, Bass Pale Ale, entre otras. Siempre respondieron eficazmente, acorde a nuestras expectativas.”</p>
                      <div class="zona_autor">
                        <img src="../images/comentarios/fabian_alvarez.png" alt="" class="foto_autor">
                        <div class="datos">                          
                          <span class="cargo">Fabián Álvarez</span>
                          <span class="experiencia">Regional Manager<br>Wines & Spirits</span>
                        </div>
                      </div>
                    </div>

                </div>
                </div>
              </div>
            </div>
          </div>

  </section>
</div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="final_modo_rombus">
        <span class="msj_final_modo">¡Activa tu “Modo<b>Rombus</b>” y comencemos a darle vuelo a tu negocio!</span><br><a class="btn-slider--azullight" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Inicia tu Proyecto</a>
      </div>
    </div>
  </div>
</div>
</main>

<main class="main jmpa_main_home d-none">
  <section class="portfolios container-fluid">
    <article class="row portfolios__box">
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample1/hmandt-1-1920x1080.jpg" alt="hmandt" class="img-responsive" />
          <figcaption>
            <h3><strong>HMANDT</strong> / BRANDING</h3>
            <h4>Hotel Marketing and Technology</h4>
          </figcaption>
          <a href="portfoliouno"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample2/HP-1-1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>HP</strong> / WEB - LANZAMIENTO</h3>
            <h4>A3 Premier</h4>
          </figcaption>
          <a href="portfoliodos"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample3/Superpollo-1-1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>SUPER POLLO</strong> / BRANDING, SOCIAL MEDIA</h3>
            <h4>De Chile con Amor</h4>
          </figcaption>
          <a href="portfoliotres"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample4/Natreon-1-1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>Dow Agrosciences</strong> / Branding</h3>
            <h4>Natreon</h4>
          </figcaption>
          <a href="portfoliocuatro"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample5/AFA-1 1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>Asociación del fútbol argentino</strong> / Editorial</h3>
            <h4>Afa Revista</h4>
          </figcaption>
          <a href="portfoliocinco"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample6/TheClinic-1-1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>The Clinic</strong> / PRENSA, SOCIAL MEDIA</h3>
            <h4>Perfiles: CM Fresh</h4>
          </figcaption>
          <a href="portfolioseis"></a>
      </figure>
      <figure class="porftolios__item">
          <img src="../images/userSamples/sample7/Altosol-1-1920x1080.jpg" alt="sample99" class="img-responsive" />
          <figcaption>
            <h3><strong>Novomega</strong> / Producto</h3>
            <h4>Altosol Oliva Gourmet</h4>
          </figcaption>
          <a href="portfoliosiete"></a>
      </figure>
      <figure class="porftolios__item porftolios__sinAnimation">
          <a ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="portftolios__none ">
            <span>Conecta con nuestras soluciones creativas</span>
            <strong class="text-uppercase">Cuéntanos tu proyecto</strong>
          </a>
      </figure>
    </article>
  </section><!-- End Portafolio -->
  <section id="comoFuncionamos" class="jmpa_comoFuncionamos comoFuncionamos padding ">
    <div class="container">
      <article class="row text-center comoFuncionamos__informacion">
        <div class="col-xs-12 text-center margin-bottom">
          <h2 class="seccion__titulos seccion__titulos--semibold">¿Cómo funcionamos?</h2>
        </div>
        <div class="col-xs-12 col-sm-4 wow bounceInUp rojo" data-wow-duration="0.6s">
          <div class="jmpa_circle_como_funcionamos jmpa_c_cfun_1">1</div>
          <p class="how-we-work-paragraph"><span class="bold">Rápido.</span> Rápido. En tan sólo 4 pasos, nos<br>cuentas tu necesidad y seleccionas el<br>servicio adecuado para tu proyecto.<br/><a class="home-link" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Hazlo ahora.</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 wow bounceInUp rojo" data-wow-duration="0.6s" data-wow-delay="0.5s">
          <div class="jmpa_circle_como_funcionamos jmpa_c_cfun_2">2</div>
          <p class="how-we-work-paragraph"><span class="bold">Fácil.</span> Buscamos el profesional o<br>cluster creativo apropiado e iniciamos<br>el trabajo -también puedes elegirlo<br>directamente en el <a href="/staff" class="home-link" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Staff</a>-.</p>
        </div>
        <div class="col-xs-12 col-sm-4 wow bounceInUp rojo" data-wow-duration="0.6s" data-wow-delay="1s">
          <div class="jmpa_circle_como_funcionamos jmpa_c_cfun_3">3</div>
          <p class="how-we-work-paragraph"><span class="bold">Seguro.</span> Verificamos el proceso y te<br>entregamos la solución chequeada y<br>¡lista para implementar! <br/><a class="home-link" ng-click="changeViewWithSpecElement('project-wizard/step1','')">Carga tu proyecto.</a></p>
        </div>
      </article>
    </div>
  </section> 
  
  <!-- End Como Funcionamos -->


  <!-- soluciones -->

  <section class="jmpa_sol_home">
    <div class="container">
      <div class="row" >
        <div class="col-xs-12 text-center jmpa_solo_h_cabecera">
          <h2><b>Las soluciones que tu empresa necesita</b></h2>
          <h2>Sin demoras, sin comisiones, sin riesgos.</h2>
        </div>
      </div>
    </div>
    <!-- LINKS SOLUCIONES -->
    <div class="jmpa_grupo_sol_cate" >

      <div class="jmpa_grupo_absolute" id="jmpa_div_img_sol_cate_mkt">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="../images/soluciones/i_active_mkt.png" alt="" class="jmpa_img_sol_cate_mkt wow fadeIn" data-wow-delay=".2s" id="jmpa_img_sol_cate_mkt">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="jmpa_sol_cat"><img src="../images/projects/especialidad_marketing_color.png" alt="" class="jmpa_icon_sol_mkt" >ESTRATEGIA Y MARKETING</div>
          <p class="jmpa_sol_cat_p">Cuando dispones de una estrategia bien pensada y ejecutada, esto impacta positivamente en todos los aspectos de tu negocio. 
            <br><a ng-click="changeViewWithParams('services','area=mkt')" >(Ver detalle de servicios)</a></p>
        </div>
      </div>
      </div> 
      </div>

      <div class="jmpa_grupo_absolute" id="jmpa_div_img_sol_cate_dis">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="jmpa_sol_cat"><img src="../images/projects/especialidad_diseno_color.png" alt="" class="jmpa_icon_sol_des">DISEÑO Y CREATIVIDAD</div>
              <p class="jmpa_sol_cat_p">La creatividad es hoy un valor agregado para cualquier producto. Contenidos y diseños atractivos e interesantes le aportan calidad y reconocimiento a tu marca.
                <br><a ng-click="changeViewWithParams('services','area=des')">(Ver detalle de servicios)</a></p>
            </div>
            <div class="col-xs-12 col-md-6"></div>
          </div>
          </div>
          <img src="../images/soluciones/i_active_dis.png" alt="" class="jmpa_img_sol_cate_dis wow fadeIn" data-wow-delay=".2s" id="jmpa_img_sol_cate_dis">
      </div>

      <div class="jmpa_grupo_absolute" id="jmpa_div_img_sol_cate_pub">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6"></div>
        <div class="col-xs-12 col-md-6">
          <div class="jmpa_sol_cat"><img src="../images/projects/especialidad_publicidad_color.png" alt="" class="jmpa_icon_sol_pub">PUBLICIDAD Y CAMPAÑAS</div>
          <p class="jmpa_sol_cat_p">Mejor comunicación = más ventas. Crear mensajes que conmuevan a tu público objetivo genera tráfico y aumenta las conversiones de clientes.
            <br><a ng-click="changeViewWithParams('services','area=pub')">(Ver detalle de servicios)</a>
          </p>
        </div>
      </div>
      </div>
      <img src="../images/soluciones/i_active_pub_home.png" alt="" class="jmpa_img_sol_cate_pub wow fadeIn" data-wow-delay=".2s" id="jmpa_img_sol_cate_pub">
      </div>

      <div class="jmpa_grupo_absolute" id="jmpa_div_img_sol_cate_eng">
      <div class="container">
      <div class="row">
        <div class="col-xs-12"><div class="jmpa_sol_cat"><img src="../images/projects/especialidad_programacion_color.png" alt="" class="jmpa_icon_sol_eng">PROGRAMACIÓN Y TECNOLOGÍA</div></div>
        <div class="col-xs-12 col-md-6">          
          <p class="jmpa_sol_cat_p">Contamos con un plantel de expertos para dotar a tu empresa de recursos sólidos y eficientes, en una amplia gama de lenguajes y plataformas.
            <br><a ng-click="changeViewWithParams('services','area=eng')">(Ver detalle de servicios)</a>
          </p>
        </div>
        <div class="col-xs-12 col-md-6"></div>
      </div>
      </div>
      <img src="../images/soluciones/i_active_pro.png" alt="" class="jmpa_img_sol_cate_eng wow fadeIn" data-wow-delay=".2s" id="jmpa_img_sol_cate_eng">
      </div>

    </div>
    
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
        <button ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="start-now-button jmpa_home_comienza">SOLICITA PRESUPUESTO</button>
      </div>
    </div>
  </section>

  <!-- end soluciones -->



  <!-- marcas -->
  <section class="jmpa_marcas_home marcas wow fadeIn">
    <div class="container">
    <article class="row text-center">
      <div class="col-xs-12 margin-bottom">
        <h2 class="seccion__titulos--medium tituloEspecial">Los creativos de Rombus colaboramos con estas marcas</h2>
      </div>
      <div class="clearfix"></div>
      <slick autoplay="true" infinite="true" speed="200" slides-to-show="7" touch-move="true" slides-to-scroll="2" arrows="false" responsive="breakpoints">
        <div><img class="img-responsive" src="../images/clients/advanta.png" alt="Advanta" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/amarula.png" alt="Amarula" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/dow.png" alt="Dow" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/dow-agro.png" alt="Dow AgroSciences" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/dunlock.png" alt="Durlock" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/edenor.png" alt="Edenor" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/granix.png" alt="Granix" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/grants.png" alt="Grants" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/hp-argentina.png" alt="HP" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/natreon.png" alt="Natreon" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/banco-paris.png" alt="Banco Paris" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/perfil.png" alt="Perfil" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/rfef.png" alt="RFEF" width="195" height="130"></div>
        <div><img class="img-responsive" src="../images/clients/super-pollo.png" alt="Super Pollo" width="195" height="130"></div>
        </slick>
    </article>
  </div>
  </section> <!-- End Marcas -->
  <section id="testimonios" class="carousel carousel--testimonios carousel-fade slide carousel--borderbottom carousel--borderbottom--azul jmpa_testimonios" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#testimonios" data-slide-to="0" class="active"></li>
      <li data-target="#testimonios" data-slide-to="1"></li>
      <li data-target="#testimonios" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill slider-testimonios-1">
          <div class="carousel-caption carousel-caption--testimonios">
            <div class="row">
              <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 margin-md-top">
                <img src="images/comentarios/eduardo_dubinsky.png" class="img-responsive">
              </div>
              <div class="col-xs-8 col-sm-6 col-md-7 col-lg-5 testimonios__informacion margin-md-top">
                <strong>Ing. Eduardo Dubinsky</strong>
                <strong>Consultor Técnico Internacional</strong>
                <strong>en Grasas y Aceites Comestibles</strong>
                <cite class="hidden-xs margin-top--small testimonios__informacion--texto">
                  "Tuvimos la oportunidad de coordinar junto a la gente de Rombus, diversos proyectos para empresas agroalimentarias de primera línea, con óptimos resultados en la difusión y posicionamiento de productos."
                </cite>
              </div>
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left">
                <cite class="margin-top--small testimonios__informacion--texto">
                  " Tuvimos la oportunidad de coordinar junto a la gente de Rombus, diversos proyectos para empresas agroalimentarias de primera línea, con óptimos resultados en la difusión y posicionamiento de productos."
                </cite>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-offset-2 margin-sm-top">
                <figure class="testimonios--imagen testimonios--imagen--naturalmente ">
                  <img src="images/naturalmente-granix-advanta.jpg" class="img-responsive">
                </figure>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="item">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill slider-testimonios-2">
          <div class="carousel-caption carousel-caption--testimonios">
          <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 margin-md-top">
              <img src="images/comentarios/gustavo_zurueta.png" class="img-responsive">
            </div>
            <div class="col-xs-8 col-sm-6 col-md-7 col-lg-5 testimonios__informacion margin-md-top">
              <strong>Gustavo Zurueta</strong>
              <strong>Director Ejecutivo de Procopias,</strong>
              <strong>HP PremierA3 Argentina</strong>
              <cite class="hidden-xs margin-top--small testimonios__informacion--texto">
                "En Rombus encontramos una respuesta de alta calidad, flexible y de rápida resolución para la presentación en nuestro país del programa de HP PremierA3.”
              </cite><!-- "Versión mostrada en Tablet y PC" -->
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left">
              <cite class="margin-top--small testimonios__informacion--texto">
                "En Rombus encontramos una respuesta de alta calidad, flexible y de rápida resolución para la presentación en nuestro país del programa de HP PremierA3.”
              </cite> <!-- "Versión mostrada en Movil" -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-offset-2 margin-sm-top">
              <figure class="testimonios--imagen testimonios--imagenHP">
                <img src="images/hp-premierA3-argentina.png" class="img-responsive">
              </figure>
            </div>

          </div>
        </div>
        </div>

      </div>
      <div class="item">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill slider-testimonios-3">
          <div class="carousel-caption carousel-caption--testimonios">
          <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 margin-md-top">
              <img src="images/comentarios/fabian_alvarez.png" class="img-responsive">
            </div>
            <div class="col-xs-8 col-sm-6 col-md-7 col-lg-5 testimonios__informacion margin-md-top">
              <strong>Fabián Álvarez</strong>
              <strong>Regional Manager </strong>
              <strong>Wines & Spirits</strong>
              <cite class="hidden-xs margin-top--small testimonios__informacion--texto">
                "Contratamos a Rombus en distintas oportunidades para la promoción y marketing directo de las principales marcas del portfolio. Siempre respondieron eficazmente, acorde a nuestras expectativas.”
              </cite><!-- "Versión mostrada en Tablet y PC" -->
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-left">
              <cite class="margin-top--small testimonios__informacion--texto">
                "Contratamos a Rombus en distintas oportunidades para la promoción y marketing directo de las principales marcas del portfolio. Siempre respondieron eficazmente, acorde a nuestras expectativas.”
              </cite><!-- "Versión mostrada en Movil" -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6  margin-sm-top">
              <figure class="testimonios--imagen testimonios--imagenAmarula">
                <img src="images/logos-amarula.jpg" class="img-responsive">
              </figure>
            </div>

          </div>
        </div>
        </div>

      </div>


    </div>
  </section> <!-- End Testimonios -->


  <section class="jmpa_mapa_home mapa padding wow fadeIn">
    <article class="container">
      <div class="row">
        <div class="col-xs-12 text-center ">
          <h2 class="seccion__titulos">{{'home.mapTitle' | translate}}</h2>
          <p class="seccion__descripciones seccion__descripciones--full margin-top hidden-xs">{{'home.mapP1' | translate}}</p>
          
            
          <div class="jmpa_mapa jmpa_view_pc"><img src="images/mapa_rombus_desktop.svg" alt="" width="100%"></div>
          <div class="jmpa_mapa jmpa_view_cell"><img src="images/mapa_rombus_mobile.svg" alt="" width="100%"></div>


        </div>
      </div>
    </article>
  </section> <!-- Mapa -->
  <section class="jmpa_miembros_home miembros">
    <div class="container">
      <article class="row">
        <div class="col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
          <h2 class="seccion__titulos seccion__titulos--small wow fadeIn">Miembros de Rombus Global en el Mundo</h2>
          <p class="seccion__descripciones seccion__descripciones--small seccion__descripciones--alcanceglobal  margin-top margin-top--small " >
          {{'home.map' | translate}}<br>
          {{'home.map_2' | translate}}
          <span class="jmpa_ingresa_ahora">{{'home.map_3' | translate}}</span>
        </p>          
        </div>
      </article> <!-- Miembros informacion -->
      <article class="row jmpa_miembros_buttons">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="row margin-top wow fadeIn" data-wow-delay=".2s">
            <div class="col-xs-12 col-sm-4 miembros__item">
              <a class="btn btn-primary btn-lg btn-miembros btn-miembros--recursos text-uppercase" ng-click="changeViewWithSpecElement('staff','')">Recursos</a>
            </div>
            <div class="col-xs-12 col-sm-4 miembros__item">
              <a class="btn btn-primary btn-lg btn-miembros btn-miembros--representantes text-uppercase"
                 ng-click="changeViewWithSpecElement('representatives')">Representantes</a>
            </div>
            <div class="col-xs-12 col-sm-4 miembros__item">
              <a class="btn btn-primary btn-lg btn-miembros btn-miembros--coworking btn-miembros--coworking--transparent text-uppercase"
                 ng-click="changeViewWithSpecElement('cowork')">Coworking</a>
            </div>

          </div>
        </div>
      </article> <!-- Botones Miembros -->
    </div>
  </section> <!-- Miembros -->


  <!-- Services -->
  <section style="background-color: #ffffff;" class="container-fluid hide" ng-controller="ServicesCtrl as serv">
    <div class="services-section">
      <div class="row services-title-container">
        <h1 class="services-title">Contrata las mejores ideas de talentosos profesionales, ajustadas a la medida de tu empresa.</h1>
        <h2 class="services-subtitle">Sin demoras, sin comisiones, sin riesgos.</h2>
      </div>
      <div class="row service-card-container">
        <article class="col-xs-12  col-md-3 service-card">
          <figure class="service-card--estrategia">
              <i class="fa fa-binoculars icon-big-binoculars"></i>
              <h4 class="text-uppercase">Estrategia y Marketing</h4>
              <div ng-click="serv.goToMarketingArea()" class="icon-small rounded-icon pointer">+</div>
          </figure>
        </article>
  
        <article class="col-xs-12  col-md-3 service-card">
          <figure class="service-card--creatividad">
            <i class="fa fa-eye icon-big"></i>
            <h4 class="text-uppercase">Diseño y Creatividad</h4>
            <div ng-click="serv.goToDesignArea()" class="icon-small rounded-icon pointer">+</div>
          </figure>
        </article>
        <article class="col-xs-12 col-md-3 service-card">
          <figure class="service-card--posicionamiento">
              <i class="fa fa-thumbs-up icon-big"></i>
              <h4 class="text-uppercase">Publicidad y Campañas</h4>
              <div ng-click="serv.goToPositioningArea()" class="icon-small rounded-icon pointer">+</div>
          </figure>
        </article>
        <article class="col-xs-12  col-md-3 service-card">
          <figure class="service-card--desarrollo">
              <i class="fa fa-code icon-big"></i>
              <h4 class="text-uppercase">Programación y Tecnología</h4>
              <div ng-click="serv.goToDevelopmentArea()" class="icon-small rounded-icon pointer">+</div>
          </figure>
        </article>
      </div>
      <div class="row hide-on-desktop services-subtitle2-container">
        <h2 class="services-subtitle2">
          Inicia tu proyecto y accede ya mismo a soluciones de talento profesional independiente
        </h2>
      </div>
      <div class="row start-now-container">
        <div class="col-md-12 col-xs-12 text-center">
          <button ng-click="changeViewWithSpecElement('project-wizard/step1','')" class="start-now-button">COMIENZA AHORA</button>
        </div>
      </div>
    </div>
    
  </section> <!--Servicios Animación -->
  <!-- End Services-->


  <section class="jmpa_proyectos_home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center jmpa_solo_h_cabecera">
          <h2><b>¿Tienes un Proyecto?</b></h2>
          <h2>Elige el servicio que consideres más conveniente. En Rombus sólo pagas por lo que necesitas.</h2>          
        </div>
      </div>

      <div class="row">
        <div class="jmpa_p_body_home">
          <div class="col-md-3">
            <div class="jmpa_tienes_proy" ng-click="changeViewWithSpecElement('project-wizard/step1','')">
              <img src="../images/projects/proyecto_profesional_negro.svg" alt="" class="jmpa_tup_icon">
              <div class="jmpa_tup_text jmpa_home_pc">Un profesional<br>individual</div>
              <div class="jmpa_tup_text jmpa_home_vcl">Un profesional individual</div>              
            </div>
          </div>
          <div class="col-md-3">
            <div class="jmpa_tienes_proy" ng-click="changeViewWithSpecElement('project-wizard/step1','')">
              <img src="../images/projects/proyecto_manager_negro.svg" alt="" class="jmpa_tup_icon">
              <div class="jmpa_tup_text jmpa_home_pc">Project manager<br>y equipo</div>
              <div class="jmpa_tup_text jmpa_home_vcl">Project manager y equipo</div>              
            </div>
          </div>
          <div class="col-md-3">
            <div class="jmpa_tienes_proy" ng-click="changeViewWithSpecElement('project-wizard/step1','')">
              <img src="../images/projects/proyecto_representante_negro.svg" alt="" class="jmpa_tup_icon">
              <div class="jmpa_tup_text">Rombus Ciudad /<br>cercana a mi ubicación</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="jmpa_tienes_proy" ng-click="changeViewWithSpecElement('project-wizard/step1','')">
              <img src="../images/projects/proyecto_rombuscentral_negro.svg" alt="" class="jmpa_tup_icon">
              <div class="jmpa_tup_text">Rombus Central /<br>atención corporativa</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center jmpa_home_comienza_col">
          <a href="" class="jmpa_home_comienza" ng-click="changeViewWithSpecElement('project-wizard/step1','')">COMIENZA AHORA</a>
        </div>
      </div>

    </div>
    </section>





</main> <!-- End Main -->

<footer ng-include="'views/footer.html'"></footer>

<script>

  $('.carousel_nhp').carousel({
    interval: 8000, //changes the speed
    keyboard: true,
    cycle: true
  });


  $('.carousel--testimonios').carousel({
    interval: 10000, //changes the speed
    cycle: true
  });

  // animaciones

  wow = new WOW(
    {
      offset:       50,          // default
      mobile:       true,       // default
      live:         true        // default
    }
  );
  wow.init();


</script>
