<nav scroll ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel-fade slide carousel--borderbottom carousel--porftolio jmpa_myCarousel header_staff addcowork addrves">

  <div class="bgzonesolutions jmpa_view_pc">
    <div class="bgdifuminado"></div>
</div>
<div class="jmp_fondo_cell_sol_slider jmpa_view_cell">
  <div class="difuminado_cell"></div>
  <img src="../images/bg_reves.jpg" alt="" width="100%">
</div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12">
          <div class="jmpa_carousel">
            <div class="carousel-caption__principal">
              <h2 class="agencia-slider">Los referentes<br><span>de la red</span></h2>                     

              <h4 class="informacion_agencia jmpa_view_pc">Los miembros de Rombus Global pueden constituirse<br>como Representantes en sus ámbitos y ser el nexo de la<br>Agencia con los mercados. Si quieres ampliar tus límites<br>y ganar en oportunidades, te invitamos a ser<br>protagonista de esta empresa.</h4>
              <h4 class="informacion_agencia jmpa_view_cell">Los miembros de Rombus Global pueden constituirse como Representantes en sus ámbitos y ser el nexo de la Agencia con los mercados. Si quieres ampliar tus límites y ganar en oportunidades, te invitamos a ser protagonista de esta empresa.</h4>
              
              <a href="" class="linksoluciones" style="display: block;">
                <img src="../images/flecha_reves.jpg" alt="" class="flecharves" style="display: none;">
                <b>Rombus Buenos Aires</b><br>Ciudad de Buenos Aires, Argentina
              </a>
               
              
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</header>

<main class="main jp_rhp_main jmpa_home_main addcowork addrves">
  <section class="jp_rhp_soluciones">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <img src="../images/icon_cowork_rves.jpg" class="icon_cowork_plan" alt="" width="105px">
        </div>
        <div class="col-xs-12 text-center titular_plan">
          <h1 class="jmpa_view_pc">Plan de Representantes de Rombus Global</h1>
          <h1 class="jmpa_view_cell">Plan de Representantes<br>de Rombus Global</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-xs-12 col-md-10">
        <div class="row jp_rhp_items_rfs links">
          <div class="col-md-4">
            <h2>Local</h2>
            <p>Como “Oficina Rombus” en tu país, serás el encargado de atender las cuentas y proyectos locales, representar a la Agencia en tu mercado y coordinar junto a otros miembros la red nacional.</p>
          </div>
          <div class="col-md-4">
            <h2>Exclusivo</h2>
            <p>Las Agencias Rombus ocupan esa posición en forma exclusiva no pudiendo existir dos Representantes en la misma localidad. Si tienes interés, postúlate ahora para ocupar tu plaza, ¡averigua si está disponible!</p>
          </div>
          <div class="col-md-4">
            <h2>Gratuito</h2>
            <p>Ser Representante no implica ningún costo sino todo lo contrario, obtendrás ganancias por todos los proyectos que concretes con la colaboración de los colegas y los recursos corporativos de la Agencia.</p>
          </div>
        </div>
      </div>
      </div>
      </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <span class="jp_ofreciendo">Ventajas de ser miembro de la Red:</span>
        </div>
      </div>  
    </div>
  </section>

  <section class="cowor_bloques cowor_ventajas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10">
      <div class="row">
        <div class="col-xs-12 jmpa_view_cell">
          <img src="../images/icon_ventaja_rves_1_cell.png" alt="" class="picventajas_cell">
        </div>
        <div class="col-md-6">
          <div class="item">
            <div class="pic">
              <img src="../images/icon_ventaja_rves_1.jpg" alt="">
            </div>
            <div class="zona_detalles">
              
            <div class="title">
              Categoría
            </div>
            <p>Ser referente de una Agencia Global otorga un standard superior que posiciona favorablemente y te permite ganar en imagen y competitividad de mercado.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 jmpa_view_cell">
          <img src="../images/icon_ventaja_rves_2_cell.png" alt="" class="picventajas_cell">
        </div>
        <div class="col-md-6">
          <div class="item">
            <div class="pic">
              <img src="../images/icon_ventaja_rves_2.jpg" alt="">
            </div>
            <div class="zona_detalles">
              
            <div class="title">
              Recursos
            </div>
            <p>Contar con un staff multidisciplinario, una red de alcance internacional y las referencias de la Agencia. Ventajas diferenciales para potenciar tu oferta comercial.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 jmpa_view_cell">
          <img src="../images/icon_ventaja_rves_3_cell.png" alt="" class="picventajas_cell">
        </div>
        <div class="col-md-6">
          <div class="item">
            <div class="pic">
              <img src="../images/icon_ventaja_rves_3.jpg" alt="">
            </div>
            <div class="zona_detalles">
              
            <div class="title">
              Difusión
            </div>
            <p>Figurarás con tus datos de contacto y participarás en todas las acciones de promoción que llevemos adelante en nuestras redes y en los espacios de tu localidad.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 jmpa_view_cell">
          <img src="../images/icon_ventaja_rves_4_cell.png" alt="" class="picventajas_cell">
        </div>
        <div class="col-md-6">
          <div class="item">
            <div class="pic">
              <img src="../images/icon_ventaja_rves_4.jpg" alt="">
            </div>
            <div class="zona_detalles">
              
            <div class="title">
              Ganancia
            </div>
            <p>Fee de Agente por cada operación y atención de cuentas mediante un acuerdo de resultados claro y eficiente que asegura el beneficio. Solicita el modelo de contrato.</p>
            </div>
          </div>
        </div>
      </div>
    </div> </div> </div>
  </section>


  <div class="bloque_ready addrpbloqueready" >
    <div class="container jmp_soluciones_ready" ng-show="serv.selectedService!=''" >
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 text-center" >
                <h1>¡Quiero ser Representante!</h1> 
                <a ng-click="contactUsDialog('Quiero ser representante')">Postularse</a>
            </div>
        </div>
    </div>
</div>
</div>

</main>

<footer ng-include="'views/footer.html'"></footer>