<nav ng-include="'views/headerIndex.html'" ng-controller="HeaderCtrl as header"></nav>

<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel carousel--interna slide">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://via.placeholder.com/1600x900.jpg/e50b2c/ffffff');"></div>
    </div>
  </div>
</header>
<main class="main">
  <section ng-show="usmp.typeId === 1" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x1340.jpg/03A1C1/000000" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c2352/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/#4d237c/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c4d23/000000" class="img-responsive">
      </div>
    </article>
  </section>
  <section ng-show="usmp.typeId === 2" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c2352/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/#4d237c/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c4d23/000000" class="img-responsive">
      </div>
    </article>
  </section>
  <section ng-show="usmp.typeId === 3" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
      </div>
    </article>
  </section>
  <section ng-show="usmp.typeId === 4" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
      </div>
    </article>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c2352/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/#4d237c/000000" class="img-responsive">
      </div>
      <div class="col-sm-4">
        <img src="https://via.placeholder.com/640x450.jpg/7c4d23/000000" class="img-responsive">
      </div>
    </article>
  </section>
  <section ng-show="usmp.typeId === 5" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x670.jpg/000000/ffffff" class="img-responsive">
      </div>
    </article>
  </section>
  <section ng-show="usmp.typeId === 6" class="porftoliosImages container-fluid">
    <article class="portfoliosImages__top row no-gutter">
      <div class="col-sm-6">
        <img src="https://via.placeholder.com/960x1340.jpg/03A1C1/000000" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <div class="videoYoutube--video">
          <div class="embed-responsive embed-responsive-3by4">
            <iframe width="960" height="670" src="https://www.youtube.com/embed/Z1Y4jnF8_W4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <img src="https://via.placeholder.com/960x670.jpg/23527c/000000" class="img-responsive">
        </div>
      </div>
    </article>
  </section>
  <section class="container porftoliosInformation">
    <div class="row">
      <div class="col-sm-6">
        <h3><strong>Dow AgroSciences</strong> / Branding</h3>
        <h4>Natreon</h4>
        <strong>Un Perfil de avanzada para alimentos más saludables</strong>
        <div class="porftoliosInformation__perfil d-none d-sm-block">
          <figure>
            <img src="https://via.placeholder.com/200x200.jpg/03A1C1/000000" class="img-responsive img-circle">
            <figcaption>
              <h5>Roberto Carlos</h5>
              <a href="#">Autor / Ver Perfil</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 margin-top--small">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Only information Author Mobile -->
    <div class="row d-sm-none">
      <div class="col-xs-12">
        <div class="porftoliosInformation__perfil">
          <figure>
            <img src="https://via.placeholder.com/200x200.jpg/03A1C1/000000" class="img-responsive img-circle">
            <figcaption>
              <h5>Roberto Carlos</h5>
              <a href="#">Autor / Ver Perfil</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>

<footer ng-include="'views/footer.html'"></footer>
